<modal #myModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Добавить категорию</h4>
    </modal-header>
    <modal-body>
      <form #addCategoryForm="ngForm">
        <input name="category" type="text" class="form-control" placeholder="Категория" [(ngModel)]="newCategoryTitle" required>
      </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal.close(newCategoryTitle)" [disabled]="!addCategoryForm.valid">Сохранить</button>
    </modal-footer>
</modal>
