<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавить категорию</h4>
      </div>
      <div class="modal-body">
        <form #addCategoryForm="ngForm">
          <input name="category" type="text" class="form-control" placeholder="Категория" [(ngModel)]="newCategoryTitle" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="callback(newCategoryTitle)" [disabled]="!addCategoryForm.valid">Сохранить</button>
      </div>
    </div>

  </div>
</div> -->

<modal #myModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Добавить категорию</h4>
    </modal-header>
    <modal-body>
      <form #addCategoryForm="ngForm">
        <input name="category" type="text" class="form-control" placeholder="Категория" [(ngModel)]="newCategoryTitle" required>
      </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal.close(newCategoryTitle)" [disabled]="!addCategoryForm.valid">Сохранить</button>
    </modal-footer>
</modal>
