<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="logo">my-app</div>

  <div class="dropdown">
    <a class="option-vertical dropdown" href="#"  data-toggle="dropdown">
      <span class="glyphicon glyphicon-option-vertical"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="">Добавить товар</a></li>
      <li><a href="">Добавить категорию</a></li>
    </ul>
  </div>
</nav>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-header">
      Категории
    </li>
    <li *ngFor="let category of categories">
      <a class="delete-category" href="" (click)="deleteCategory(category._id)">x</a>
      <a href="#">{{category.title}}</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->

<div class="container main-content">

  <div>
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</div>
