<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="logo">my-app</div>

  <div class="dropdown">
    <a class="option-vertical dropdown" href="#"  data-toggle="dropdown">
      <span class="glyphicon glyphicon-option-vertical"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" (click)="openAddItemModal()">Добавить товар</a></li>
      <li><a href="#" (click)="openAddCategoryModal()">Добавить категорию</a></li>
    </ul>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-header">
      Категории
    </li>
    <li *ngFor="let category of categories">
      <a class="delete-category" href="#" (click)="openDeleteCategoryModal(category._id)">x</a>
      <a href="#" (click)="getItemsbyCategory(category)">{{category.title}}</a>
    </li>
    <li>
      <a href="#" (click)="getItemsbyCategoryNoName()">Без категории</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->

<div class="container main-content">

  <div *ngIf="currentCategory">
    <h1>{{currentCategory.title}}</h1>
    <hr>
  </div>
  <!-- Products table  -->
  <table class="table table-striped" *ngIf="items[0]">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Цена / закуп</th>
        <th>Цена</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item._id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.purchase_price}}</td>
        <td>{{item.selling_price}}</td>
        <td>
          <button class="btn btn-danger" (click)="openDeleteItemModal(item)">Удалить</button>
          <button class="btn btn-info" (click)="openEditItemModal(item)">Изменить</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- modals -->
  <app-add-category-modal #addCategoryModal></app-add-category-modal>
  <app-add-item-modal #addItemModal [categories]="categories"></app-add-item-modal>
  <app-edit-item-modal #editItemModal [categories]="categories" [itemToEdit]="currentItem"></app-edit-item-modal>
  <app-delete-category-modal #deleteCategoryModal></app-delete-category-modal>

  <app-delete-item-modal #deleteItemModal [itemToDelete]="currentItem"></app-delete-item-modal>
</div>
