<modal #myModal>
    <modal-header [show-close]="true">
      <h4 class="modal-title">Изменить товар</h4>
    </modal-header>
    <modal-body>
      <form #editForm="ngForm" [formGroup]="editItemForm">
        <select name="category" class="form-control" formControlName="category">
          <option value="null" disabled selected hidden>Категория</option>
          <option *ngFor="let category of categories" [value]="category._id">{{category.title}}</option>
        </select>
        <br>
        <input name="title" type="text" class="form-control" placeholder="Название" formControlName="title" required>
        <br>
        <input name="purchasePrice"  type="number" class="form-control" placeholder="Закупочная цена" formControlName="purchase_price" required>
        <br>
        <input name="sellingPrice"  type="number" class="form-control" placeholder="Розничная цена" formControlName="selling_price" required>
      </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="myModal.close(editItemForm.value)" [disabled]="!editForm.valid">Сохранить</button>
    </modal-footer>
</modal>
